.card{
    border: 0px;
}

.img-thumbnail
{  
    height: 200px;
   max-width: 100%; 
   display:block; 
    
    padding-bottom:30px;
    margin-bottom:20px;
    margin-top:20px; 
}

h2,h5{
    text-align: justify;
}