
<div>
<app-navbar></app-navbar>
<router-outlet></router-outlet>
<br><br>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 text-center">
                <h4>Best Buy </h4>
                <h4>All rights reserved. </h4>
            </div>

            <div class="col-sm-6 text-center">
                <h4>About Us</h4>
                <p>Now Buy Everthing At One Place</p>
            </div>

        </div><!--End of row -->
    </div><!--End of container -->
</footer>
</div>
  <script src="includes/js/modernizr-2.6.2.min.js"></script>